#bar-graph {
    width: 90dvi;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 90dvh;
    border: 5px solid black;
    --bars: 4;
}

.bar {
    --level: 50%;
    background: #f00;
    height: var(--level);
    width: calc(90% / var(--bars));
}